body {
    background-color: black;
    background-image: url(./backg.jpg);
    background-size: cover;
}

.main {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-label {
    color: white;
}

.hidden {
    display: none;
}

p {
    color: white;
    opacity: 0.5;
    font-size: smaller;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
